@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import './theme';


// Global style
html, body 
    font-family 'Itim', sans-serif

.button
  border-radius 4px
  padding 1rem
  font-size 2rem
  background primary
  font-weight bold
  color light-color
  border 1px solid white
  for name, color in colors
    &.is-{name}
        background color
        if dark(color)
          color light-color
        else
          color black

for name, color in colors
    .text-{name}
        color color
    .bg-{name}
        background color