/*
** The color is based Kahoot theme (https://kahoot.com/files/2019/03/Kahoot_color-palette.png)
*/
blues = {
    '0': #a2d1f2,
    '1': #45a3e5,
    '2': #1368ce,
    '3': #0542b9
}

primary = #0542b9
secondary = #1368ce
light-color = darken(#ffffff, 10%)
colors = {
    primary: blues['3'],
    secondary: blues['2'],
    light-color: light-color
}